<ion-header [translucent]="true">
  <ion-breadcrumbs style="height:3.5em;" *ngIf="playlist$ | async as playlist">
    <ion-breadcrumb [routerLink]="'/playlist/'" routerLinkActive="true" style="font-size:1.4em">
      Playlist
    </ion-breadcrumb>
    <ion-breadcrumb style="font-size:1.4em">
      {{ (playlist$ | async)?.name}}
    </ion-breadcrumb>
    <ion-button style="position:absolute;right:1em; padding:0.25rem" (click)="openShareModal(playlist)">
      <ion-icon name="share-social-outline" style="margin-right:0.33rem"></ion-icon>
      Partager
    </ion-button>
  </ion-breadcrumbs>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="playlist$ | async as playlist">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ playlist?.name | titlecase}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container" style="height:100%" >
      <ion-list>
        <ion-item-sliding *ngFor="let todo of  (playlist?.todos)">
          <ion-item-options side="start">
            <ion-item-option (click)="openModal(playlist?.id, todo)" color="primary">
              <ion-icon slot="icon-only" name="pencil"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item>
            <ion-label>{{ todo.name }}</ion-label>
            <ion-checkbox [(ngModel)]="todo.isDone" (ngModelChange)="updateTodo(playlist.id, todo)" checked="todo.isDone" color="success" type="ios"></ion-checkbox>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="delete(playlist?.id, todo?.id)" color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-button expand="block" style="position:fixed; bottom:56px; width:100%" (click)="openModal(playlist?.id)">Ajouter un Todo</ion-button>
    </div>
  </ng-container>
</ion-content>